# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Python virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# OS
.DS_Store
Thumbs.db


.env
staticfiles